In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [14]:
engine = create_engine('mysql+pymysql://root:Assyst@123@localhost/assignments')

In [15]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

In [16]:
print(df)

     name
0  User 1
1  User 2
2  User 3

In [7]:
d = pd.read_sql_query('SELECT * FROM user', engine)
print(d)

Empty DataFrame
Columns: [idusers, name]
Index: []

In [17]:
df.to_sql('user', con=engine, if_exists='append',index=False,chunksize=1)

In [18]:
d = pd.read_sql_query('SELECT * FROM user', engine)
print(d)

   idusers    name
0        1  User 1
1        2  User 2
2        3  User 3

In [20]:
data = pd.DataFrame({'job' : ['hr', 'devo'],'mgr' : [1,2],'hire date' : ['01-02-2001', '02-04-2004'],'salary' : [444,4441],'dept id' : [3,1],'ename' : ['py1', 'py2']})

In [21]:
print(data)

    job  mgr   hire date  salary  dept id ename
0    hr    1  01-02-2001     444        3   py1
1  devo    2  02-04-2004    4441        1   py2

In [22]:
data.to_sql('employee', con=engine, if_exists='append',index=False,chunksize=1)

In [23]:
d2 = pd.read_sql_query('SELECT * FROM employee', engine)
print(d2)

   emp no      job  mgr   hire date  salary  dept id  ename
0       1  manager    1  12-10-2012   22000        1   jegu
1       2       hr    1  12-10-2014   12000        2    das
2       3       hr    1  02-10-2014   17000        1   kevi
3       4    devop    1  02-04-2014   27000        3    evi
4       5     devo    1  02-10-2004   27000        3  wilno
5       6   traine    1  02-10-2014    8000        2   ibin
6       7       hr    1  01-02-2001     444        3    py1
7       8     devo    2  02-04-2004    4441        1    py2