In [1]:
import findspark
findspark.init()
import pyspark
import random
sc = pyspark.SparkContext(appName="Pi")
num_samples = 100000000
def inside(p):     
  x, y = random.random(), random.random()
  return x*x + y*y < 1
count = sc.parallelize(range(0, num_samples)).filter(inside).count()
pi = 4 * count / num_samples
print(pi)
sc.stop()

3.1416336

In [24]:
import findspark
findspark.init()
import pyspark
sc=pyspark.SparkContext.getOrCreate()
textFile = sc.textFile("/home/local/ASSYST-COC/tony.p/Downloads/bank.csv")
textFile = textFile.map(lambda line: line.split(","))
textFile.count()

4522

In [4]:
import pandas as pd
import xlrd as xl
# Assign spreadsheet filename to `file`
file = '/home/local/ASSYST-COC/tony.p/Downloads/sample.xlsx'

# Load spreadsheet
xl = pd.ExcelFile(file)

# Print the sheet names
print(xl)

<pandas.io.excel.ExcelFile object at 0x7f6a308e56d8>

In [7]:
import pandas as pd
x = pd.read_excel('/home/local/ASSYST-COC/tony.p/Downloads/f1000.xlsx')
print(x)

    Unnamed: 0  Unnamed: 1  Unnamed: 2                             Unnamed: 3  \
0          NaN         NaN         NaN     Excel 2007 (xlsx) Sample Worksheet
1          NaN         NaN         NaN  Created with Microsoft Excel 2007 SP1
2          NaN         NaN         NaN                                    NaN
3          NaN         NaN         NaN                                      X
4          NaN         NaN         NaN                               0.718521
5          NaN         NaN         NaN                               0.488513
6          NaN         NaN         NaN                               0.982756
7          NaN         NaN         NaN                               0.599483
8          NaN         NaN         NaN                               0.192747
9          NaN         NaN         NaN                               0.173891
10         NaN         NaN         NaN                               0.256903
11         NaN         NaN         NaN                               0.790662
12         NaN         NaN         NaN                               0.558927
13         NaN         NaN         NaN                              0.0366969
14         NaN         NaN         NaN                               0.434829
15         NaN         NaN         NaN                               0.925647
16         NaN         NaN         NaN                              0.0853923
17         NaN         NaN         NaN                               0.424134
18         NaN         NaN         NaN                               0.199393
19         NaN         NaN         NaN                                0.24813
20         NaN         NaN         NaN                               0.355641

   Unnamed: 4
0         NaN
1         NaN
2         NaN
3           Y
4    0.916826
5    0.675336
6    0.975685
7    0.195164
8   0.0898761
9    0.292433
10    0.24113
11   0.421155
12   0.528088
13   0.740989
14   0.585719
15   0.578595
16    0.62102
17   0.511223
18     0.8332
19   0.682089
20   0.147124

In [8]:
import pandas as pd
x = pd.read_excel('/home/local/ASSYST-COC/tony.p/Downloads/f1000.xlsx')
print(x)

     First Name   Last Name  Gender        Country  Age        Date    Id
1         Dulce       Abril  Female  United States   32  15/10/2017  1562
2          Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
3        Philip        Gent    Male         France   36  21/05/2015  2587
4      Kathleen      Hanner  Female  United States   25  15/10/2017  3549
5       Nereida     Magwood  Female  United States   58  16/08/2016  2468
6        Gaston       Brumm    Male  United States   24  21/05/2015  2554
7          Etta        Hurn  Female  Great Britain   56  15/10/2017  3598
8       Earlean      Melgar  Female  United States   27  16/08/2016  2456
9      Vincenza     Weiland  Female  United States   40  21/05/2015  6548
10       Fallon     Winward  Female  Great Britain   28  16/08/2016  5486
11      Arcelia      Bouska  Female  Great Britain   39  21/05/2015  1258
12     Franklyn      Unknow    Male         France   38  15/10/2017  2579
13      Sherron    Ascencio  Female  Great Britain   32  16/08/2016  3256
14       Marcel   Zabriskie    Male  Great Britain   26  21/05/2015  2587
15         Kina    Hazelton  Female  Great Britain   31  16/08/2016  3259
16     Shavonne         Pia  Female         France   24  21/05/2015  1546
17       Shavon      Benito  Female         France   39  15/10/2017  3579
18     Lauralee     Perrine  Female  Great Britain   28  16/08/2016  6597
19       Loreta      Curren  Female         France   26  21/05/2015  9654
20       Teresa      Strawn  Female         France   46  21/05/2015  3569
21      Belinda     Partain  Female  United States   37  15/10/2017  2564
22        Holly        Eudy  Female  United States   52  16/08/2016  8561
23         Many      Cuccia  Female  Great Britain   46  21/05/2015  5489
24       Libbie       Dalby  Female         France   42  21/05/2015  5489
25       Lester     Prothro    Male         France   21  15/10/2017  6574
26       Marvel        Hail  Female  Great Britain   28  16/08/2016  5555
27      Angelyn        Vong  Female  United States   29  21/05/2015  6125
28    Francesca   Beaudreau  Female         France   23  15/10/2017  5412
29        Garth       Gangi    Male  United States   41  16/08/2016  3256
30        Carla    Trumbull  Female  Great Britain   28  21/05/2015  3264
...         ...         ...     ...            ...  ...         ...   ...
971     Belinda     Partain  Female  United States   37  15/10/2017  2564
972       Holly        Eudy  Female  United States   52  16/08/2016  8561
973        Many      Cuccia  Female  Great Britain   46  21/05/2015  5489
974      Libbie       Dalby  Female         France   42  21/05/2015  5489
975      Lester     Prothro    Male         France   21  15/10/2017  6574
976      Marvel        Hail  Female  Great Britain   28  16/08/2016  5555
977     Angelyn        Vong  Female  United States   29  21/05/2015  6125
978   Francesca   Beaudreau  Female         France   23  15/10/2017  5412
979       Garth       Gangi    Male  United States   41  16/08/2016  3256
980       Carla    Trumbull  Female  Great Britain   28  21/05/2015  3264
981        Veta       Muntz  Female  Great Britain   37  15/10/2017  4569
982      Stasia      Becker  Female  Great Britain   34  16/08/2016  7521
983        Jona     Grindle  Female  Great Britain   26  21/05/2015  6458
984       Judie    Claywell  Female         France   35  16/08/2016  7569
985      Dewitt      Borger    Male  United States   36  21/05/2015  8514
986        Nena      Hacker  Female  United States   29  15/10/2017  8563
987      Kelsie     Wachtel  Female         France   27  16/08/2016  8642
988         Sau        Pfau  Female  United States   25  21/05/2015  9536
989     Shanice   Mccrystal  Female  United States   36  21/05/2015  2567
990       Chase      Karner    Male  United States   37  15/10/2017  2154
991      Tommie   Underdahl    Male  United States   26  16/08/2016  3265
992      Dorcas      Darity  Female  United States   37  21/05/2015  8765
993       Angel       Sanor    Male         France   24  15/10/2017  3259
994   Willodean        Harn  Female  United States   39  16/08/2016  3567
995      Weston     Martina    Male  United States   26  21/05/2015  6540
996        Roma  Lafollette  Female  United States   34  15/10/2017  2654
997      Felisa        Cail  Female  United States   28  16/08/2016  6525
998    Demetria       Abbey  Female  United States   32  21/05/2015  3265
999      Jeromy        Danz    Male  United States   39  15/10/2017  3265
1000   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

[1000 rows x 7 columns]

In [9]:
from sqlalchemy import create_engine
import sqlalchemy as sa
import pandas as pd

In [11]:
engine = create_engine('mysql+pymysql://root:Assyst@123@localhost/assignments')

In [18]:
pd.read_sql(sa.text('SELECT * FROM employee',engine))

TypeError: read_sql() missing 1 required positional argument: 'con'